
<div style="text-align: center;">
  <%= image_tag "home.PNG" %>
</div>

<div style="padding-top: 100px; width: 1205px; margin: 0 auto;">
  <button id="tryit" onclick="window.location='/courses/new'; return false;">Try It</button>
</div>
